In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df=pd.read_csv('cardekho_imputated.csv',index_col=0 )
df.head(3)

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.0,1197,80.0,5,215000

## Data cleaning

In [3]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [5]:
# drop car_name and brand 
df.drop(columns=['car_name','brand'],axis=1,inplace=True)

In [6]:
df.head(3)

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.0,1197,80.0,5,215000

In [7]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [8]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [9]:
## Getting All Different Types OF Features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :',len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :',len(continuous_features))

Num of Numerical Features : 7
Num of Categorical Features : 4
Num of Discrete Features : 2
Num of Continuous Features : 5

In [10]:
x=df.drop(columns=['selling_price'],axis=1)
y=df['selling_price']

In [11]:
# label encoding model
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['model']=le.fit_transform(df['model'])

In [12]:
df['fuel_type'].value_counts()

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

In [13]:
df['seller_type'].value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [14]:
df['transmission_type'].value_counts()

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

In [16]:
from sklearn.linear_model import LinearRegression , Ridge , Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
## Beginning Model Training
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
   
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

ValueError: could not convert string to float: 'XC60'

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.2473
- Mean Absolute Error: 0.1880
- R2 Score: 0.8683
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2590
- Mean Absolute Error: 0.1969
- R2 Score: 0.8657
===================================

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.2473
- Mean Absolute Error: 0.1880
- R2 Score: 0.8683
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2590
- Mean Absolute Error: 0.1969
- R2 Score: 0.8657
===================================

Lasso
Model performance for Training set
- Root Mean Squared Error: 0.6816
- Mean Absolute Error: 0.5057
- R2 Score: 0.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.7069
- Mean Absolute Error: 0.5279
- R2 Score: -0.0000
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 0.2473
- Mean Absolute Error: 0.1880
- R2 Score: 0.8683
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2591
- Mean Absolute Error: 0.1969
- R2 Score: 0.8657
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 0.1560
- Mean Absolute Error: 0.1131
- R2 Score: 0.9477
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.1956
- Mean Absolute Error: 0.1422
- R2 Score: 0.9234
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0371
- Mean Absolute Error: 0.0099
- R2 Score: 0.9970
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2293
- Mean Absolute Error: 0.1637
- R2 Score: 0.8948
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 0.1560
- Mean Absolute Error: 0.1131
- R2 Score: 0.9477
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.1956
- Mean Absolute Error: 0.1422
- R2 Score: 0.9234
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0371
- Mean Absolute Error: 0.0099
- R2 Score: 0.9970
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2293
- Mean Absolute Error: 0.1637
- R2 Score: 0.8948
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0726
- Mean Absolute Error: 0.0520
- R2 Score: 0.9886
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.1818
- Mean Absolute Error: 0.1319
- R2 Score: 0.9338
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0726
- Mean Absolute Error: 0.0520
- R2 Score: 0.9886
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.1818
- Mean Absolute Error: 0.1319
- R2 Score: 0.9338
===================================